<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Nghĩa từ">
  <ion-content class="padding">
    <div class="list card">

      <div class="item responsive-sm">
        <div class="row">
          <div class="col col-50">
            <h2><b>{{word.NAME}}({{word.TYPE}})</b></h2>
            <p><i>{{word.TRANSLITERATION}}</i></p>
            <p><i>{{word.MEANING}}</i></p>
          </div>
          <div class="col col-50 text-right col-center">
            <button class="button button-icon ion-volume-high" style="font-size:50px;"></button>
            <button ng-class="word.STATUS === 0 ? 'button button-icon ion-ios-star-outline' : 'button button-icon ion-ios-star'" style="font-size:50px; color:#FE4006;" ng-click="changeFavourite(word.$id,word.STATUS)"></button>
          </div>
        </div>
      </div>
      <div class="item item-body">
        <img class="full-image"  src="{{word.IMAGE}}">
        <p>
          <p>{{word.EXAMPLE}}</p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
