<ion-view view-title="Tra từ">

  <ion-content class="padding">
  <label class="item-input-wrapper" style="background-color:white; border:1px solid">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Tìm kiếm" ng-change="searchChange()" ng-model="search.name" >
  </label>
  <ion-list>
    <ion-item class="chat-item item-avatar item-icon-right" ng-repeat="word in words" type="item-text-wrap" href="#/tab/find/{{word.ID}}">
      <h2 style="padding-top:10px"><b>{{word.NAME}}</b></h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll
    on-infinite="loadMore()"
    icon="ion-loading-c"  
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
